<div class="jumbotron">
  <h1 class="display-5">ブログは書いて終わり、じゃない</h1>
  <p class="lead"></p>
  <hr class="my-2">
  <p>あなたのブロク記事にフィードバックを。Twitterでログイン後、HTMLタグを設置するだけで投票フォームを設置できます。</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/auth/twitter" role="button">早速はじめる！</a>
    <p class="text-muted">アカウント登録はTwitter連携を行うだけです。</p>
  </p>
</div>

<%= link_to "ログイン", "/auth/twitter" %>