<!DOCTYPE html>
<html>
<head>
  <title>テストサイト</title>
  <meta charset="UTF-8" />
</head>
<body>
  <h1>ねこねこ</h1>
  <div class="wrapper">
    <div id="turai_vote_area"></div>
  </div>
  </ul>
</body>
</html>
<style>
.wrapper {
  width: 800px;
}
</style>

<script>
<%== beacon_tag_script %>
</script>

<textarea name="" id="" cols="100" rows="20">
<script>
<%== beacon_tag_script_compressed %>
</script>
</textarea>