<h2>投票フォーム設置方法</h2>
<div class="bg-light p-3">

  <h4>1. HTMLタグを入力</h4>

  <p>投票フォームを表示させたい場所に以下のHTMLタグを入れてください。</p>

  <textarea cols="60" rows="3">
  <div id="turai_vote_area"></div>
  </textarea>

  <h4>2.Javascriptを入力</h4>

  <p>以下のJavascriptを投票フォームと同じページに入れてください。場所の指定は特にありません。</p>

  <textarea cols="60" rows="3">
  <script>
  <%== beacon_tag_script_compressed %>
  </script>
  </textarea>

</div>