<% if @votes.size == 0 %>
  <%= render 'start' %>
  <hr>
<% end %>

<h2>投票一覧</h2>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th style='width:10rem;'>評価</th>
      <th>記事タイトル</th>
      <th style='width:10rem;'>投票日時</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.value_localed %></td>
        <td><%= link_to vote.title, vote.url, target: '_blank' %></td>
        <td><%= vote.created_at.strftime('%F %R') %></td>
      </tr>
    <% end %>
  </tbody>
</table>